body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    color: #333;
}
a, button {
    transition: all .2s linear;
    color: #662483;
}
a:focus {
    text-decoration: none;
}
a:hover {
    color: #333;
    text-decoration: none;
}
.container {
    overflow-x: hidden;
}
.navbar-header-auto {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 15px 0;
}
.navbar-collapse {
    padding: 0;
}
.search-header button {
    background-color: transparent;
    border: none;
}
.nav > li > a {
    padding: 10px;
    border-bottom: 1px solid transparent;
}
.nav > li > a:hover {
    border-bottom: 1px solid #662483;
}
.header-logo img {
    width: 233px;
}
.main__header {
    margin: 20px 0;
}
.banner-item-text {
    position: absolute;
    width: 478px;
    top: 105px;
    left: 20%;
    color: #666666
}
.owl-carousel-item {
    position: relative;
}
.banner-item-text p {
    margin-bottom: 15px;
    font-size: 22px;
}
.banner-item-text a {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}
.main-site-btn {
    background: #662483;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    padding: 16px 72px;
    border: 2px solid #662483;
}
.main-site-btn:hover {
    background-color: transparent;
    color: #662483;
}
.banner-item-text .main-site-btn {
    display: inline-block;
}
.banner-item-text h2 {
    font-size: 64px;
}
.subtitle-page {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}
.our-product-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blue-text-block {
    background-color: #A5E2FF;
    border-radius: 50px;
    width: 680px;
    font-size: 20px;
    color: #000;
    padding: 18px 34px;
    margin: auto;
}
.our-product-block img {
    width: 80%;
}
.our-product-list {
    margin: 40px 0;
}
.image-text-block {
    display: flex;
    justify-content: space-between;
}
.image-flex-block {
    width: 42%;
    text-align: center;
}
.image-flex-block img {
    width: 100%;
}
.image-flex-text {
    width: 49%;
}
.background-image-block {
    background-image: url("../images/back.png");
    background-size: 100%;
    padding: 40px;
}
.background-gray-block {
    background: rgba(220, 220, 228, 0.5);
    padding: 40px;
    margin-bottom: 40px;
}
.advantages-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}
.advantages-item {
    text-align: center;
    width: 32%;
    margin-bottom: 30px;
}
.advantages-item-img {
    margin-bottom: 20px;
}
.advantages-item-text {
    width: 180px;
    margin: auto;
}
.footer-block {
    background: rgba(224, 224, 224, 0.3);
}
.footer-logo-title{
    color: #662483;
    font-size: 15px;
    margin: 15px 0 30px 0;
}
.footer-socia-link {
    display: flex;
    justify-content: space-between;
}
.footer-flex-block {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.footer-address-flex {
    display: flex;
    justify-content: space-between;
}
.menu-address-block {
    padding-top: 15px;
}
.footer-address-item {
    width: 279px;
}
.footer-address-flex {
    margin-top: 40px;
}
.menu-address-block .navbar-nav > li > a:first-child {
    padding-left: 0;
}
.nav:before, .nav:after, .navbar:before, .navbar:after {
    content: none;
}
.search-input-block {
    position: relative;
    bottom: 15px;
}
.search-input-block input {
    transition: all .2s linear;
    position: absolute;
    width: 0px;
    border: none;
}
.search-input-block.active input {
    width: 100%;
    border: 1px solid #666;
    padding: 5px 10px
}
.menu-address-block .navbar-collapse {
    display: flex;
    align-items: center;
}
.main-banner {
    margin-bottom: 40px;
}

.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color: #662483;
    transition: all .3s linear;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent
}
.arrow-7 {
    transform: rotate(270deg);
}
.arrow-7 span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 5px solid #662483;
    border-right: 5px solid #662483;
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
.animate-arrow-block {
    display: flex;
    padding-bottom: 10px;
}
.banner-content img {
    width: 100%;
}
.banner-content h1 {
    color: #662483;
}
.banner-content .banner-item-text {
    top: 33%;
    left: 10%;;
}
.text-content-block {
    margin: 40px 0;
}
.banner-content {
    position: relative;
}
.background-gray-block .background-image-block {
    background-image: url(../images/statement.png);
    background-size: 70%;
    background-position-x: 100%;
    background-repeat: no-repeat;
}
.background-gray-block-nopadding {
    padding: 0;
}
.background-gray-block-nopadding .image-text-block {
    margin: 50px 0;
}
.sertificate-block {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}
.sertificate-item {
    width: 25%;
}
.sertificate-item img {
    width: 100%;
}
.background-gray-block-nopadding .background-training {
    background-image: url("../images/training.png");
    background-position-x: 0;
}
.image-text-block-reverce {
    flex-direction: row-reverse;
}
.margin-class-item {
    margin-bottom: 40px;
}
.about-facts {
    margin: 60px;
    display: flex;
    justify-content: space-around;
}
.about-fact-item {
    width: 178px;
}
.about-fact-title {
    font-size: 36px;
    font-weight: bold;
    color: #662483;
    margin-bottom: 20px;
}
.footer-address-item:first-child {
    margin-right: 20px;
}
.operations-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}
.operations-item {
    text-align: center;
    width: 21%;
    margin-bottom: 30px;
}
.operations-image {
    margin-bottom: 20px;
}
.container .auto-image {
    width: auto;
}
.news-title-block a {
    font-weight: bold;
    margin-bottom: 15px;
}
.news-date-block {
    color: #662483;
    font-weight: bold;
    margin-bottom: 40px;
}
.news-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-left {
    transform: rotate(90deg);
}
.navigation-line-news {
    font-size: 36px;
    margin: 20px;
    color: #662483;
}
.container .contact-block-page .image-flex-block {
    text-align: left;
}
.contact-row-icon {
    display: flex;
}
.contact-icon {
    margin-right: 30px;
}
.main__header .container {
    overflow-x: inherit;
}
.contact-forms input, .contact-forms textarea {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #C4C4C4;
    padding: 5px 15px;
}
.contact-forms textarea {
    resize: none;
}
.contact-forms .button-center {
    text-align: right;
}
.map-block iframe {
    border: none;
}
.map-block {
    overflow: hidden;
    border: none;   
  }
.map-block > iframe{  
    border: none;
}
.product-table-page td {
    border: 1px solid #666;
    padding: 7px;
}
.product-table-page {
    width: 100%;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}
@media (min-width: 768px) {
    .navbar-nav {
        margin-right: 40px;
    }
}
@media (max-width: 1199px) {
    
    .owl-carousel .owl-item img {
        display: block;
        height: 400px;
        text-align: center;
        max-width: 100%;
        object-fit: cover;
    }
    .operations-image img {
        width: 100%;
    }
    .banner-content img {
        height: 300px;
        text-align: center;
        max-width: 100%;
        object-fit: cover;
    }
    .owl-product-sistem .owl-item img {
        display: block;
        height: auto;
        text-align: center;
        max-width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        margin: 0 15px;
    }
    .nav:before, .nav:after, .navbar:before, .navbar:after {
        content: none;
    }
    .footer-logo {
        margin-right: 20px;
    }
    .footer-address-item {
        width: auto;
    }
    .menu-address-block .navbar-nav {
        margin: 0;
    }
    .banner-item-text p {
        font-size: 18px;
    }
    .banner-item-text h2 {
        font-size: 30px;
    }
    .banner-item-text {
        top: 60px;
    }
    .banner-item-text {
        left: 10%;
    }
    .background-gray-block-nopadding .image-text-block {
        margin: 0px 0;
    }
    .background-gray-block .background-image-block {
        background-size: 100%;
    }
    .overlay-equipment {
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: .5s ease-in-out;
    } 
    .background-gray-block, .background-image-block {
        position: relative;
    }
    .subtitle-page, .image-text-block {
        position: relative;
        z-index: 1;
    }
    .operations-item {
        width: 28%;
    }
}
@media (max-width: 767px) {
    .navbar-header-auto {
        display: block;
    }
    .header-logo {
        float: left;
    }
    .search-header {
        margin: 0 15px;;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle {
        border-color: #662483;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #662483;
    }
    .search-header button {
        padding: 10px;
    }
    .image-text-block {
        flex-wrap: wrap;
    }
    .image-flex-text, .image-flex-block {
        width: 100%;
        margin-bottom: 20px;
    }
    .banner-item-text {
        width: 80%;
    }
    .background-gray-block .image-flex-block {
        margin-bottom: 20px;
    }
    .advantages-item-text {
        width: auto;
    }
    .menu-address-block .navbar-nav {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-flex-block {
        flex-wrap: wrap;
    } 
    .menu-address-block .menu-address-block {
        width: 100%;
    }
    .menu-address-block .search-header {
        margin: 0;
    }
    .footer-address-flex {
        flex-wrap: wrap;
    }
    .footer-address-item {
        margin-bottom: 20px;
    }
    .footer-address-flex {
        margin-top: 20px;
    }
    .background-gray-block, .background-image-block {
        padding: 20px;
    }
    .menu-address-block .navbar-collapse {
        display: block;
    }
    .footer-address-item {
        width: 47%;
    }
    .about-facts {
        margin: 60px 0;
        flex-wrap: wrap;
    }
    .operations-item {
        width: 47%;
    }
    .banner-content h1 {
        font-size: 24px;
    }
}
@media(max-width: 500px) {
    .header-logo img {
        width: 200px;
    }
    .image-flex-block img {
        width: 100%;
    }
    .advantages-item {
        width: 48%;
    }
    .main-site-btn {
        padding: 16px 43px;
    }
    .banner-item-text p {
        font-size: 16px;
    }
    .footer-address-item {
        width: 100%;
    }
    .container .auto-image {
        width: 100%;
    }
    .operations-item {
        width: 100%;
    }
}